*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    padding-top: 18px;
    background: #000000;
}
.container{
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__wrapper{
    display: flex;
    align-items: center;
    gap: 30px;
}
.select{
    color: #ffffff;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    border: none;
    background-color: transparent;
}
.header__btn{
    width: 192px;
    background-color: #F1A900;
    padding: 26px 0;
    border: none;
    color: #000000;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
.header__list{
    background-color: #222222;
    display: flex;
    justify-content: space-evenly; 
    padding: 25px 0;
    list-style: none;
}
.header__link{
    color: #ffffff;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-decoration: none;
}
.hero{
    background-image: url("./images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 349px;
    padding-bottom: 142px;
    height: 100vh;
}
.btn1{
    background-color: #F1A900;
    width: 235px;
    height: 73px;
}
.btn2{
 background-color: #000000;
width: 235px;
height: 73px;
color: white;
}
.hero__wrapper{
    text-align: center;
}
.hero__title{
    text-align: center;
    padding: 58px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 64px;
font-weight: 700;
line-height: 77px;
text-align: center;

background: rgba(241, 169, 0, 0.33);
}
.footer{
    background-color: #222222;
}
